@import url("https://fonts.googleapis.com/css2?family=Playwrite+NZ+Basic:wght@100..400&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
/* ================= VARIABLES ================= */
/* ================= MIXINS ================= */
/* ================= GLOBAL ================= */
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #e0e0e0;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}

/* ================= HERO ================= */
.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 500px;
  background: linear-gradient(to right, #673466, #e91e63);
  color: white;
}
.hero-container h1 {
  font-size: 50px;
}
.hero-container p {
  font-size: 20px;
  font-weight: 300;
}

/* ================= CARD ================= */
.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-radius: 5px 5px 0 0;
  background-color: #ffffff;
  box-shadow: 0 15px 35px -4px rgba(0, 0, 0, 0.476);
  position: relative;
  z-index: 2;
  margin: -50px 20px 0;
}

.card-content {
  padding: 100px 30px;
  min-width: 350px;
  max-width: 700px;
  display: flex;
  flex-direction: column;
}
.card-content p {
  color: #3c4858;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
.card-content hr {
  border: none;
  border-top: 2px solid #ddd;
  margin: 10px 0;
  width: 100%;
}
.card-content h1,
.card-content h2,
.card-content h3,
.card-content h4,
.card-content h5,
.card-content h6 {
  color: #3c4858;
}
.card-content a {
  color: #e91e63;
  text-decoration: none;
}

/* ================= LIST TYPES ================= */
.list-types {
  color: #3c4858;
}
.list-types h1 {
  padding-bottom: 5px;
}
.list-types ol,
.list-types ul {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
}

/* ================= FORMS ================= */
.form-element h1,
.form-element h3 {
  color: #3c4858;
}
.form-element p {
  font-family: Arial, Helvetica, sans-serif;
}
.form-element input[type=text],
.form-element input[type=password],
.form-element textarea {
  width: 100%;
  padding: 10px 12px;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid grey;
  outline: none;
}
.form-element input[type=text]:focus,
.form-element input[type=password]:focus,
.form-element textarea:focus {
  border-bottom: 2px solid #e91e63;
}
.form-element .text-field,
.form-element .text-area {
  margin-bottom: 20px;
}
.form-element .text-field label,
.form-element .text-area label {
  display: block;
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 500;
  color: black;
}
.form-element .option {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
}
.form-element .password {
  margin: 20px 0;
}
.form-element .password label {
  display: flex;
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 500;
  color: black;
}
.form-element .file-input {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.form-element .file-input label {
  font-size: 18px;
  font-weight: 500;
  color: black;
}
.form-element .file-input input[type=file] {
  width: 100%;
  padding: 10px 12px;
  font-size: 16px;
}
.form-element .clear-submit {
  display: flex;
  margin: 15px 0;
  gap: 5px;
}
.form-element .clear-submit input[type=reset] {
  font-size: 20px;
  padding: 10px;
  box-shadow: 0 0 1px 1px rgba(233, 30, 98, 0.42);
}
.form-element .clear-submit input[type=reset]:hover {
  color: white;
}
.form-element .clear-submit input[type=submit] {
  background-color: #e91e63;
  border-radius: 3px;
  color: white;
  border: none;
  padding: 10px 35px;
}

/* ================= TABLES ================= */
.tables {
  width: 100%;
  color: #3c4858;
}
.tables table {
  width: 100%;
}
.tables table thead th {
  font-size: 20px;
  text-align: left;
  padding: 12px 15px;
  border-bottom: 1px solid #ddd;
}
.tables table tbody td {
  padding: 12px 15px;
  border-bottom: 1px solid #ddd;
}
.tables table tbody tr:last-child td {
  border-bottom: none;
}
.tables hr {
  margin: 15px 0 30px;
  border: none;
  border-top: 1px solid #ddd;
}

/* ================= MISC ================= */
.misc {
  line-height: 2;
  color: #3c4858;
}

.scrollable {
  width: 100%;
  overflow-x: auto;
  border: 1px solid #ccc;
  background-color: rgb(231, 229, 229);
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}
.scrollable #seperate-content {
  width: 1000px;
  font-size: 15px;
}

.left-shadow {
  padding-left: 10px;
  box-shadow: -4px 0 0 0 rgb(172, 171, 171);
}

#quote,
#author {
  margin: 0;
}

#author {
  font-size: 17px;
  padding-bottom: 20px;
}

/* ================= BOTTOM SECTION ================= */
.bottom-content {
  display: flex;
  align-items: center;
  gap: 10px;
}
.bottom-content #bottom-unc {
  font-size: 12px;
  padding: 5px;
  color: white;
  background-color: #e91e63;
  border-radius: 10px;
}

.icons {
  font-size: 20px;
  margin-left: auto;
  display: flex;
  gap: 10px;
}
.icons .fa-facebook {
  color: white;
  background-color: rgb(1, 1, 142);
  padding: 10px;
  border-radius: 50%;
}
.icons .fa-twitter {
  color: white;
  background-color: black;
  padding: 10px;
  border-radius: 50%;
}
.icons .fa-envelope {
  color: white;
  background-color: rgb(142, 142, 142);
  padding: 10px;
  border-radius: 50%;
}

/* ================= RELATED POSTS ================= */
.bottom-page {
  margin-top: 100px;
  text-align: center;
  color: #3c4858;
}
.bottom-page h1 {
  font-size: 40px;
  margin-bottom: 40px;
}
.bottom-page .info-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  margin: 100px 200px;
}
.bottom-page .info-wrapper p {
  color: grey;
}
.bottom-page .left-info,
.bottom-page .middle-info,
.bottom-page .right-info {
  text-align: left;
  border-radius: 5px;
  background-color: white;
  padding: 10px;
  width: 500px;
  margin: 10px;
}
.bottom-page .left-info #unc1 {
  color: #673466;
}
.bottom-page .middle-info #unc3 {
  color: #00bcd4;
}
.bottom-page .right-info #unc4 {
  color: #f44336;
}/*# sourceMappingURL=elements.css.map */